.version.index /* version checker */
{
	color: #0000E4;
	background-color: #0DB774;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2435.999999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -36px;
}

#u72
{
	z-index: 207;
	height: 96px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
}

#u72-bw
{
	z-index: 207;
}

#pu243-4
{
	width: 0.01px;
}

#u243-4
{
	z-index: 203;
	width: 68px;
	min-height: 12px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	line-height: 7px;
	font-size: 6px;
	position: relative;
	margin-right: -10000px;
}

#home
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 938px;
}

#u73
{
	z-index: 208;
	width: 206px;
	background-color: transparent;
	position: fixed;
	top: 25px;
	left: 50%;
	margin-left: -440px;
}

#u80-4
{
	z-index: 210;
	width: 48px;
	min-height: 10px;
	background-color: transparent;
	color: #444444;
	position: fixed;
	top: 40px;
	left: 50%;
	margin-left: 159px;
}

#u80-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	margin: 0px 0px 0px 159px;
}

#u80-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	margin: 0px 0px 0px 159px;
}

#u80-4:hover p
{
	color: #1BBC9B;
	visibility: inherit;
}

#u81-4
{
	z-index: 214;
	width: 87px;
	min-height: 20px;
	background-color: transparent;
	color: #444444;
	position: fixed;
	top: 38px;
	left: 50%;
	margin-left: 226px;
}

#u81-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 226px;
}

#u81-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 226px;
}

#u80-4.MuseLinkActive p,#u81-4:hover p
{
	color: #1BBC9B;
	visibility: inherit;
}

#u82-4
{
	z-index: 218;
	width: 53px;
	min-height: 20px;
	background-color: transparent;
	color: #444444;
	position: fixed;
	top: 38px;
	left: 50%;
	margin-left: 330px;
}

#u82-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 330px;
}

#u82-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 330px;
}

#u81-4.MuseLinkActive p,#u82-4:hover p
{
	color: #1BBC9B;
	visibility: inherit;
}

#u83-4
{
	z-index: 222;
	width: 74px;
	min-height: 20px;
	background-color: transparent;
	color: #444444;
	position: fixed;
	top: 38px;
	left: 50%;
	margin-left: 406px;
}

#u83-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 406px;
}

#u83-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px 0px 0px 406px;
}

#u82-4.MuseLinkActive p,#u83-4:hover p
{
	color: #1BBC9B;
	visibility: inherit;
}

#u83-4.MuseLinkActive p
{
	color: #1BBC9B;
	visibility: inherit;
}

#u85
{
	z-index: 2;
	border-color: #000000;
	background: #FFFFFF url("../images/%d0%b1%d0%b5%d0%b7-%d0%b8%d0%bc%d0%b5%d0%bd%d0%b8-1.jpg") no-repeat center center;
	background-size: cover;
}

#u85_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 78px;
	padding-bottom: 17px;
}

#u108-5
{
	z-index: 3;
	width: 960px;
	min-height: 71px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 66px;
	font-size: 55px;
	text-align: center;
	left: 100px;
	position: relative;
}

#u108-2
{
	font-weight: bold;
}

#u109-6
{
	z-index: 8;
	width: 960px;
	min-height: 55px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	left: 100px;
	margin-top: 10px;
	position: relative;
}

#u112
{
	z-index: 15;
	width: 122px;
	background-color: transparent;
	left: 519px;
	margin-top: 33px;
	position: relative;
}

#u112:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	margin: 33px 0px 0px;
}

#u118
{
	z-index: 17;
	width: 44px;
	background-color: transparent;
	left: 558px;
	margin-top: 42px;
	position: relative;
}

#portfolio
{
	left: 1038px;
	margin-top: 48px;
	position: relative;
}

#u85-bw
{
	z-index: 2;
	margin-top: 78px;
	height: 453px;
}

#u124-4
{
	z-index: 19;
	width: 960px;
	min-height: 40px;
	background-color: transparent;
	color: #444444;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	margin-top: 87px;
	position: relative;
}

#u126-4
{
	z-index: 23;
	width: 960px;
	min-height: 26px;
	background-color: transparent;
	color: #444444;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu127
{
	width: 0.01px;
	margin-top: 73px;
}

#u127
{
	z-index: 27;
	width: 170px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
}

#u133
{
	z-index: 29;
	width: 177px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 258px;
}

#u139
{
	z-index: 31;
	width: 179px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 519px;
}

#u145
{
	z-index: 33;
	width: 178px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 781px;
}

#pu151
{
	width: 0.01px;
	margin-top: 34px;
}

#u151
{
	z-index: 35;
	width: 170px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
}

#u157
{
	z-index: 37;
	width: 176px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 259px;
}

#u163
{
	z-index: 39;
	width: 170px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 524px;
}

#u169
{
	z-index: 41;
	width: 177px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 783px;
}

#u127:hover,#u133:hover,#u139:hover,#u145:hover,#u151:hover,#u157:hover,#u163:hover,#u169:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#about
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 128px;
	left: 938px;
}

#pu175
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 61px;
}

#u175
{
	z-index: 43;
	border-color: #000000;
	background-color: #1BBC9B;
}

#u175_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 57px;
}

#u176-4
{
	z-index: 44;
	width: 960px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	left: 99px;
	position: relative;
}

#u178-4
{
	z-index: 52;
	width: 960px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	left: 99px;
	margin-top: 1px;
	position: relative;
}

#pu197
{
	width: 0.01px;
	left: 101px;
	margin-top: 27px;
	position: relative;
}

#u197
{
	z-index: 49;
	width: 220px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 15.049999999999955px;
	position: relative;
	margin-right: -10000px;
}

#u185
{
	z-index: 58;
	width: 220px;
	background-color: transparent;
	position: relative;
}

#u200-4
{
	z-index: 62;
	width: 220px;
	min-height: 27px;
	background-color: transparent;
	color: #444444;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	margin-top: 21px;
	position: relative;
}

#u202-12
{
	z-index: 86;
	width: 198px;
	min-height: 106px;
	background-color: transparent;
	margin-left: 11px;
	margin-top: 21px;
	position: relative;
}

#u205
{
	z-index: 50;
	width: 220px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 369px;
}

#u205_position_content
{
	padding-bottom: 15px;
}

#u179
{
	z-index: 56;
	width: 220px;
	background-color: transparent;
	position: relative;
}

#u206-4
{
	z-index: 66;
	width: 220px;
	min-height: 27px;
	background-color: transparent;
	color: #444444;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	margin-top: 21px;
	position: relative;
}

#u203-12
{
	z-index: 98;
	width: 198px;
	min-height: 106px;
	background-color: transparent;
	margin-left: 11px;
	margin-top: 21px;
	position: relative;
}

#u209
{
	z-index: 51;
	width: 220px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 15.049999999999955px;
	position: relative;
	margin-right: -10000px;
	left: 739px;
}

#u191
{
	z-index: 60;
	width: 220px;
	background-color: transparent;
	position: relative;
}

#u210-4
{
	z-index: 70;
	width: 220px;
	min-height: 27px;
	background-color: transparent;
	color: #444444;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
	position: relative;
}

#u207-12
{
	z-index: 110;
	width: 198px;
	min-height: 106px;
	background-color: transparent;
	margin-left: 11px;
	margin-top: 21px;
	position: relative;
}

#contakt
{
	left: 1038px;
	margin-top: 56px;
	position: relative;
}

#u175-bw
{
	z-index: 43;
	height: 646px;
}

#u201-4
{
	z-index: 74;
	width: 221px;
	background-color: transparent;
	color: #444444;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 424px;
	left: 100px;
}

#u204-4
{
	z-index: 78;
	width: 221px;
	background-color: transparent;
	color: #444444;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 424px;
	left: 469px;
}

#u208-4
{
	z-index: 82;
	width: 221px;
	background-color: transparent;
	color: #444444;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 424px;
	left: 839px;
}

#pu211
{
	width: 0.01px;
	margin-left: -100px;
}

#u211
{
	z-index: 122;
	border-color: #000000;
	background-color: #ECF0F1;
}

#u211_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 52px;
	padding-bottom: 169px;
}

#u212-4
{
	z-index: 123;
	width: 959px;
	min-height: 32px;
	background-color: transparent;
	color: #444444;
	line-height: 28px;
	font-size: 28px;
	text-align: center;
	left: 100px;
	position: relative;
}

#u213-4
{
	z-index: 127;
	width: 959px;
	min-height: 26px;
	background-color: transparent;
	color: #444444;
	text-align: center;
	left: 100px;
	margin-top: 8px;
	position: relative;
}

#u232-19
{
	z-index: 176;
	width: 301px;
	min-height: 175px;
	background-color: transparent;
	color: #444444;
	left: 619px;
	margin-top: 38px;
	position: relative;
}

#u211-bw
{
	z-index: 122;
	height: 500px;
}

#widgetu214
{
	z-index: 131;
	width: 0.01px;
	height: 208px;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	left: 100px;
}

#widgetu225
{
	z-index: 132;
	width: 220px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u228-4
{
	z-index: 133;
	width: 208px;
	min-height: 35px;
	border-width: 2px;
	border-style: solid;
	border-color: #BEC3C7;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 14px;
	color: #999999;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: normal;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

.html,#widgetu225.non-empty-st #u228-4
{
	background-color: #FFFFFF;
}

#widgetu225:hover #u228-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 35px;
	width: 208px;
	margin: -2px -10000px -2px 0px;
}

#widgetu225.focus-st #u228-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 35px;
	width: 208px;
	margin: -2px -10000px -2px 0px;
}

#widgetu225.non-empty-st #u228-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu225:hover #u228-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu225.focus-st #u228-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu225_input,#widgetu225_prompt
{
	width: 208px;
	min-height: 35px;
	color: #999999;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: normal;
	padding: 6px;
}

#widgetu221
{
	z-index: 137;
	width: 220px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 278px;
}

#widgetu225.fld-err-st,#widgetu221.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: -2px -10000px 0px 0px;
}

#u222-4
{
	z-index: 138;
	width: 208px;
	min-height: 35px;
	border-width: 2px;
	border-style: solid;
	border-color: #BEC3C7;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 14px;
	color: #999999;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#widgetu221.non-empty-st #u222-4
{
	background-color: #FFFFFF;
}

#widgetu221:hover #u222-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 35px;
	width: 208px;
	margin: -2px -10000px -2px 0px;
}

#widgetu221.focus-st #u222-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 35px;
	width: 208px;
	margin: -2px -10000px -2px 0px;
}

#widgetu225.fld-err-st #u228-4,#widgetu221.fld-err-st #u222-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 35px;
	width: 208px;
	margin: -2px -10000px -2px 0px;
}

#widgetu221.non-empty-st #u222-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu221:hover #u222-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu221.focus-st #u222-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu221_input,#widgetu221_prompt
{
	width: 208px;
	min-height: 35px;
	color: #999999;
	padding: 6px;
}

#u220-4
{
	z-index: 142;
	width: 220px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
}

#widgetu214.frm-sub-st #u220-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u230-4
{
	z-index: 146;
	width: 220px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
}

#widgetu214.frm-subm-err-st #u230-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u219-4
{
	z-index: 150;
	width: 220px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
}

#widgetu214.frm-sub-st #u220-4,#widgetu214.frm-subm-err-st #u230-4,#widgetu214.frm-subm-ok-st #u219-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu214.frm-subm-ok-st #u219-4 p
{
	color: #1BBC9B;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u229-17
{
	z-index: 154;
	min-height: 37px;
	width: 114px;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
	left: 386px;
	background: url("../images/u229-17.png") no-repeat 0px 0px;
}

#u229-17:hover
{
	background: url("../images/u229-17-r.png") no-repeat 0px 0px;
}

#u229-17:active
{
	background: url("../images/u229-17-m.png") no-repeat 0px 0px;
}

#widgetu214.frm-sub-st #u229-17
{
	background: url("../images/u229-17-fs.png") no-repeat 0px 0px;
}

#widgetu215
{
	z-index: 171;
	width: 500px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: -2px;
}

#widgetu215.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 67px -10000px 0px 0px;
}

#u218-4
{
	z-index: 172;
	width: 488px;
	min-height: 68px;
	border-width: 2px;
	border-style: solid;
	border-color: #BEC3C7;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 14px;
	color: #999999;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#widgetu215.non-empty-st #u218-4
{
	background-color: #FFFFFF;
}

#widgetu215:hover #u218-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 488px;
	margin: -2px -10000px -2px 0px;
}

#widgetu215.focus-st #u218-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 488px;
	margin: -2px -10000px -2px 0px;
}

#widgetu215.fld-err-st #u218-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 488px;
	margin: -2px -10000px -2px 0px;
}

#widgetu215.non-empty-st #u218-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu215:hover #u218-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu215.focus-st #u218-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu225.fld-err-st #u228-4 *,#widgetu221.fld-err-st #u222-4 *,#widgetu215.fld-err-st #u218-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu215_input,#widgetu215_prompt
{
	width: 488px;
	min-height: 68px;
	color: #999999;
	padding: 6px;
}

#widgetu225:hover #widgetu225_input,#widgetu225.focus-st #widgetu225_input,#widgetu225.fld-err-st #widgetu225_input,#widgetu225:hover #widgetu225_prompt,#widgetu225.focus-st #widgetu225_prompt,#widgetu225.fld-err-st #widgetu225_prompt,#widgetu221:hover #widgetu221_input,#widgetu221.focus-st #widgetu221_input,#widgetu221.fld-err-st #widgetu221_input,#widgetu221:hover #widgetu221_prompt,#widgetu221.focus-st #widgetu221_prompt,#widgetu221.fld-err-st #widgetu221_prompt,#widgetu215:hover #widgetu215_input,#widgetu215.focus-st #widgetu215_input,#widgetu215.fld-err-st #widgetu215_input,#widgetu215:hover #widgetu215_prompt,#widgetu215.focus-st #widgetu215_prompt,#widgetu215.fld-err-st #widgetu215_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu225.non-empty-st #widgetu225_prompt,#widgetu221.non-empty-st #widgetu221_prompt,#widgetu215.non-empty-st #widgetu215_prompt
{
	visibility: hidden;
}

#u234
{
	z-index: 196;
	border-color: #000000;
	background-color: #2D3E50;
	padding-bottom: 33px;
}

#u234_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u241-4
{
	z-index: 199;
	width: 447px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 100px;
}

#u235
{
	z-index: 197;
	width: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 1015px;
}

#u234-bw
{
	z-index: 196;
	height: 65px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

